A set is ordered,does n't allow duplicate,used to store collection of unique items,membership tests and mathematical operation like union,intersection,difference ans symmetric difference

In [1]:
my_set={1,2,3,4,5}
print(type(my_set))

<class 'set'>

In [10]:
My_emp_set=set((2,3,4,5))
print(My_emp_set)
print(type(My_emp_set))

{2, 3, 4, 5}
<class 'set'>

In [8]:
sets=set([2,4,6])
print(sets)
print(type(sets))

{2, 4, 6}
<class 'set'>

In [11]:
#adding elements
sets={2,3,4,5,6}
sets.add(7)
print(sets)

{2, 3, 4, 5, 6, 7}

In [12]:
#removing elements
sets.remove(2)
print(sets)

{3, 4, 5, 6, 7}

In [13]:
sets.discard(7)
print(sets)

{3, 4, 5, 6}

In [14]:
#pop items first item will delete
rev={1,2,3,4,5,6}
rev.pop()
print(rev)

{2, 3, 4, 5, 6}

In [ ]:
My_set.clear()

In [15]:
#set memebership test
sets={2,3,4,5}
print(3 in sets)
print(2 in sets)

True
True

In [17]:
Set1={1,2,3,4,5}
Set2={4,5,6,7,8}
uni_set=Set1.union(Set2)
print(uni_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
inter=Set1.intersection(Set2)
print(inter)

{4, 5}

In [20]:
diff=Set1.difference(Set2)
print(diff)

{1, 2, 3}

In [21]:
#symmetric difference
sym_set=Set1.symmetric_difference(Set2)
print(sym_set)

{1, 2, 3, 6, 7, 8}

In [22]:
#is subset all the elements in set1 is also present in set2
subset=Set1.issubset(Set2)
print(subset)

False

In [23]:
#if all the set2 elements are available in set1 then it is called as issuperset
superset=Set1.issuperset(Set2)
print(superset)

False

In [27]:
Sentence="The world is very Beautiful"
word=Sentence.split()
unique=set(word)
for i in unique:
    print(i,len(i))

very 4
is 2
The 3
world 5
Beautiful 9

In [28]:
#Convert List to Set
list=[1, 2, 2, 3, 4, 4, 5]
sets=set(list)
print(sets)

{1, 2, 3, 4, 5}

In [29]:
len(sets)

5

In [31]:
#clear a set
S1={1,2,3,4,5}
S1.clear()
print(S1)

set()

In [39]:
Set1 = {1, 2, 3}
Set2 = {2, 3, 4}
Set3 = {3, 4, 5}
sets=Set1&Set2&Set3
print(sets)

{3}

In [18]:

a = "aeiou"
b = "Hello World"
l = {}
b = b.lower()
for i in a:
    if i in b:
        l[i] = b.count(i)
print(l)

{'e': 1, 'o': 2}

In [26]:
#sqaure of 20 even numbers
square={x**2 for x in range(20) if x%2==0}
print(square)

{0, 64, 256, 4, 36, 100, 196, 324, 16, 144}