In [1]:
a=()
type(a)

tuple

In [3]:
mixed_tuple=(3,4.15,"Hello",True)
print(mixed_tuple)

(3, 4.15, 'Hello', True)

In [4]:
number=(1,2,3,4,5)

In [6]:
con=number+mixed_tuple
print(con)

(1, 2, 3, 4, 5, 3, 4.15, 'Hello', True)

In [7]:
con[0]

1

In [8]:
con[1:]

(2, 3, 4, 5, 3, 4.15, 'Hello', True)

In [9]:
con[-1]

True

In [10]:
con[:-1]

(1, 2, 3, 4, 5, 3, 4.15, 'Hello')

In [11]:
mixed_tuple * 3

(3, 4.15, 'Hello', True, 3, 4.15, 'Hello', True, 3, 4.15, 'Hello', True)

In [13]:
mixed_tuple * 3

(3, 4.15, 'Hello', True, 3, 4.15, 'Hello', True, 3, 4.15, 'Hello', True)

In [14]:
con[1]=5

TypeError: 'tuple' object does not support item assignment

In [15]:
number

(1, 2, 3, 4, 5)

Tuple Methods

In [16]:
print(number.count(2))

1

In [17]:
print(number.index(2))

1

In [18]:
print(number.index(3))

2

In [20]:
#packing the tuple
packed_tuple=1,"Hello",5.6
print(packed_tuple)

(1, 'Hello', 5.6)

In [21]:
type(packed_tuple)

tuple

In [22]:
#unpacking the tuple
a,b,c=packed_tuple

In [23]:
print(a)

1

In [24]:
#unpacking with *
first,*middle,last=number

In [25]:
print(*middle)

2 3 4

In [26]:
print(first)

1

In [27]:
print(last)

5

In [39]:
#nested tuple
lst=[[1,2,3,4],[5,6,7,8],[1,"Hello",3.14]]

In [40]:
print(lst)

[[1, 2, 3, 4], [5, 6, 7, 8], [1, 'Hello', 3.14]]

In [41]:
lst[0][2]

3

In [42]:
lst[0][:2]

[1, 2]

In [43]:
lst[0][2:]

[3, 4]

In [44]:
#nested tuple
nested_tuple=((1,2,3),(True,False),("Hello",3.14,67))

In [48]:
for sub in nested_tuple:
    for item in sub:
        print(item, end=" ")
    print()

1 2 3
True False
Hello 3.14 67

In [49]:
#Write a program to access the second and last elements of a tuple.
my_tuple = (10, 20, 30, 40, 50)
#second element
my_tuple[1]

20

In [50]:
#last element
my_tuple[-1]

50

In [53]:
#Reverse the order of elements in a tuple without using slicing.
my_tuple[::-1]

(50, 40, 30, 20, 10)

In [56]:
#Find the index of the element 50 in the tuple
my_tuple.index(50)

4

In [57]:
#Count how many times the number 2 appears in the tuple.
my_tup = (1, 2, 3, 2, 4, 2, 5)
my_tup.count(2)

3

In [59]:
#Concatenate two tuples and store the result in a new tuple.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tup=tuple1+tuple2
print(tup)

(1, 2, 3, 4, 5, 6)

In [60]:
#Write a function to check if a given element exists in a tuple.
my_tuple = (10, 20, 30, 40, 50)
element = 30
element in my_tuple

True

In [70]:
#Write a program to sort a tuple of integers in ascending order.
my_tuple = (4, 2, 9, 1, 5)
ls = list(my_tuple)  # Convert tuple to list
ls.sort()  # Sort the list
sorted_tuple = tuple(ls)  # Convert the sorted list back to a tuple
print("Original tuple:", my_tuple)
print("Sorted tuple:", sorted_tuple)

Original tuple: (4, 2, 9, 1, 5)
Sorted tuple: (1, 2, 4, 5, 9)

In [71]:
type(sorted_tuple)

tuple

In [73]:
#Unpack a tuple of three elements into three variables and print the values.
my_tuple = (100, 200, 300)
a,b,c=my_tuple
print(a)
print(b)
print(c)

100
200
300

In [2]:
#Remove a specific element (e.g., 3) from a tuple and return a new tuple.
my_tuple = (1, 2, 3, 4, 5)
rev=list(my_tuple)
rev.remove(3)
tuple(rev)

(1, 2, 4, 5)

In [6]:
print(type(rev))

<class 'list'>

In [23]:
#Flatten a tuple that contains nested tuples.
my_tuple = (1, (2, 3), (4, 5), 6)
tupl=()
for tup in my_tuple:
    #print(tup)
    if isinstance(tup,tupl):
        for i in tup:
            print(i)

In [26]:
#Write a function to find the maximum and minimum values in a tuple.
my_tuple = (5, 10, 3, 9, 2)
print(max(my_tuple))
print(min(my_tuple))

10
2

In [28]:
#convert tuple to dictionary
my_tuple = (("name", "John"), ("age", 25), ("city", "New York"))
rev=dict(my_tuple)
print(rev)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [35]:
for key,value in rev.items():
    print(key)
    print(value)

name
John
age
25
city
New York

In [42]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
for i in tuple1:
    for j in tuple2:
        if i==j:
            print(i,j)

4 4
5 5

In [45]:
my_dict = {("a", "b"): 100, ("c", "d"): 200}
for key,value in my_dict.items():
    print(key)
    print(value)

('a', 'b')
100
('c', 'd')
200

In [83]:
#extract names of students whose marks are greater than 80.
count=0
students = (("Alice", 20, 85), ("Bob", 19, 70), ("Charlie", 22, 90))
for name,age,mark in students:
    #print(name)
    #print(age)
    #print(mark)

       if mark > 80:
        count += 1 # Add the name to the tuple if marks are greater than 80

print("Students with marks greater than 80:", count)

Students with marks greater than 80: 2

In [93]:
#second largest tuple
my_tuple = (45, 67, 23, 89, 12)
sec=list(my_tuple)
sec.sort()
sec[1]
print(tuple(my_tuple))

(45, 67, 23, 89, 12)

In [94]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
con=set(tuple1+tuple2)
print(tuple(con))

(1, 2, 3, 4, 5, 6, 7, 8)